*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.Logo{
    align-items: center;
}

body{
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

.header-container {
    display: table;
    width: 100%;
    margin: auto;

}

.site-logo {
    float: left;
    padding: 17px 100px;
}


.site-nav-menu {
    float: right;
}
.primary-menu{
    list-style: none;
}
.primary-menu li {
    display: inline-block;
    margin: 21px 5px;
}
.primary-menu a {
    color: rgb(0, 167, 44);
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 15px 10px;
    transition: .5s;
}
.primary-menu a:hover,
.primary-menu .active {
    color:rgb(146, 147, 152);
}
.primary-menu li a:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: rgb(0, 167, 44);
    bottom: 0px;
    left: 0;
    transition: all .5s;
}
.primary-menu li a:hover:after {
    width: 100%;
}
.primary-menu li .active:after{
    width: 100%;
}
.mobile-nav{
    display: none;
}
.mobile-nav i{
    background-color: #04AA6D;
    float: right;
    margin: 10px;
    padding: 10px;
    font-size: 24px;
    color: #fff;
    outline: none;
    cursor: pointer;
}
section#hero-section {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.button{
    width: 80px;
    height: 30px;
    background: rgb(69, 206, 157);
    border-radius: 10px;
    border: none;

}
.button-Login{
    width: 80px;
    height: 30px;
    background: none;
    border-radius: 10px;
    border-color: rgb(69, 206, 157);
}


/* Responsive css */
@media only screen and (max-width: 900px) {
    .site-nav-menu {
        float: none;
        position: absolute;
        background: #142440;
        width: 100%;
        left: 0;
        top: 85px;
        padding: 30px 0px 150px 0px;
        border-top: 1px solid #4a4848;
        clip-path: circle(0% at 100% 0%);
        transition: all .8s;
    }
    .primary-menu li {
        display: block;
        text-align: center;
        margin: 25px 5px;
    }
    .mobile-nav{
        display: block;
    }
    .mobile-menu {
        clip-path: circle(112% at 100% 0%);
    }
    .primary-menu li a:after{
        display: none;
    }
}
/*baner*/
.banner {
    width: 100%;

}
.img{
    width: 100%;
    height: 600px;

}



/*Section*/
.title{
    text-align: center;
    color: black;
    font-size: 25px;
}
.banner-3{
    width: 100%;
    display: flex;
}
.banner-text{
    width: auto;
}
.banner-3 h1{
    padding: 60px 60px 10px 50px;
}
.banner-3 p{
    padding: 10px 60px 10px 50px;
}
.banner-3 img{
    height: 100%;
    width: auto;
    padding-left: 150px;
}

.banner-4{
    width: 100%;
    display: flex;
    background: rgb(217, 217, 217);
}
.banner-text{
    width: auto;
}
.banner-4 h1{
    padding: 60px 60px 10px 50px;
}
.banner-4 p{
    padding: 10px 60px 10px 50px;
}
.banner-4 img{
    height: 300px;
    width: auto;
    padding-left: 150px;
}


.section{
    background-image: url("Imagens/Banner2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
}



/*CARDS*/

.container-card{
    width: 100%;
    display: flex;
    max-width: 1100px;
    margin: auto;
}
.title-cards{
    width: 100%;
    max-width: 1080px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: #7a7a7a;
}
.card{
    width: 30%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background:#fff;
    box-shadow: 0 1px 10px rgba(0,0,0,0.2);
    transition: all 400ms ease-out;
    cursor: default;
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}
.card img{
    width: 100%;
    height: 210px;

}
.card .contenido-card{
    padding: 15px;
    text-align: center;
}
.card .contenido-card h3{
    margin-bottom: 15px;
    color: #7a7a7a;
}
.card .contenido-card p{
    line-height: 1.8;
    color: #6a6a6a;
    font-size: 14px;
    margin-bottom: 5px;
}
.card .contenido-card a{
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: rgb(15, 152, 72);
    border: 1px solid rgb(15, 152, 72);
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 5px;
}
.card .contenido-card a:hover{
    background: rgb(15, 152, 72);
    color: white;
}


@media only screen and (min-width:320px) and (max-width:768px){
    .container-card{
        flex-wrap: wrap;
    }
    .card{
        margin: 15px;
    }
}


/*FOOTER*/

.pie-pagina{
    width: 100%;
    background-color: rgb(11, 13, 23);
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: rgb(11, 13, 23);
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: rgb(11, 13, 23);
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0;
    }
}
.grupo-1 {
    width: 100%;
    padding: 12px 30px;
    z-index: 999;
    border-bottom: 2px solid #909090ad;
    box-shadow: 0px 0px 0px 0px green;
}


